.left_div{
                width:70%;
                float:left;
            }
            .right_div{
                width:28%;
                float:right;
            }
            .nav{
                float:left;
                width:100%;
                text-align:center;
            }
            .score_list{
                text-align:left;
            }
             #timerOutput{
                font-size: 19px;
                
             }
             .countdown{
                position:fixed;
                top:0px;
                left:0px; 
                width:100%;
                     text-align:center;
                    
             }
             .timer{
                 
             }
             #mydiv {
                overflow: auto;               
                max-height: 450px;
                
            }
            #divtimerholder{
                background: black;
                color: white;
                padding: 5px;
                
            }
            .btn{
                -webkit-appearance: none;
-webkit-border-image: none;
-webkit-box-align: center;
-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.10000000149011612s;
-webkit-transition-property: background-position;
-webkit-transition-timing-function: linear;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(0, 68, 204);
background-image: -webkit-linear-gradient(top, rgb(0, 136, 204), rgb(0, 68, 204));
background-position: 0px -15px;
background-repeat: repeat-x;
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: separate;
border-left-color: rgba(0, 0, 0, 0.0980392);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.0980392);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.0980392);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
height: 30px;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 4px;
padding-left: 12px;
padding-right: 12px;
padding-top: 4px;
text-align: center;
text-decoration: none;
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
text-transform: none;
vertical-align: middle;
width: 100px;
word-spacing: 0px;
writing-mode: lr-tb;
            }
        